<div class="login-container" [formGroup]="fs.loginForm">
  <div class="fontSize-24 font-weight-bold">登入</div>
  <p class="mt-3 mb-3 font-grey-op">請輸入您帳戶的密碼</p>
  <mat-form-field appearance="outline" [color]="'primary'" >
    <mat-label>輸入您的密碼</mat-label>
    <input matInput #matIpt="matInput"
      formControlName="password"
      [type]="'password'"
       placeholder="輸入您的密碼">
     <mat-error *ngIf="fs.loginForm.get('password').hasError('required')&&fs.loginForm.get('password').touched">密碼未輸入</mat-error>
  </mat-form-field>
   <button mat-flat-button
      cdkStepperNext
      type="submit"
      color="primary"
      class="mb-2"
      (click)="onClick(matIpt)">登入</button>
</div>
